.main-titles {
    font-family: 'Roboto', sans-serif;
}

.info {
    
}
.col-md-8.no-articles-found {
    text-align: center;
    font-weight: bold;
    /* border: 1px solid; */
}
.pdefault {
    overflow: hidden;
    display: block;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-area {
    display: hidden;
    overflow: scroll;
    height: 390px;
}

.togglemenu {
    /*display: block;
    border-top: 1px solid #DDD;
    padding-top: 10px;*/
}


.a-timeshare-item {
    border: 1px solid #CCC;
    background: #efefef;
    padding: 5px;

}

.panel-title {
    font-family: 'Roboto', sans-serif;
    color:white;
}

.row-follow{
    margin: 20px 0px;
}

.panel-title-2 {
    font-family: 'Roboto', sans-serif;
    color: #808080 !important;
    padding: 10px;
    font-weight: normal
}

.black{
    color:#000 !important;
}

.panel-title {
    text-decoration: none;
}

.text{
    color: #CCC;
    font-style: italic;
}

.log-details {
    font-family: 'Roboto', sans-serif;
}



.sidebar-item img{
    width:20px;
    margin-right: 10px
}

li.sidebar-item {
    border-top: 1px solid #131418;
    padding: 5px 0px;
    cursor: pointer;
}

.selection {
    background: #116cd6 !important;
    color: white !important;
}

li.sidebar-item:hover {
    background: #131418 !important;
}

.nav-bar-dark{
    background: #131418 !important;
}

#navbar li:hover{
    background:#000 !important;
}

a.navbar-brand img {
    width: 238px;
    padding: 5px;
}


.navbar-brand {
    padding: 2px 10px !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #000;
    border-color: #337ab7;
}

.dropdown-menu {
    width: 100%;
}



.btn-default {
    background: #0079ff;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0096ff),to(#005dff));
    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#0096ff),to(#005dff));
    background: -moz-linear-gradient(center top,#0096ff,#005dff);
    background: linear-gradient(#0096ff,#005dff);
    border-color: #0071e0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}


i {
    margin: 0px 5px 0px 0px;
}


.log-details .ng-binding{
    color:white;
}

.nav-bar-dark .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #000 !important;
    color: #FFF !important;
}

.nav-bar-dark a{
    color:#777776 !important;
}

.centered{
  text-align: center
}

.margin{
    margin:10px;
}

.login {
  margin: 20px auto;
  width: 300px;margin-top: 10%;
  box-shadow: 0 0 18px #ccc;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px;
margin-top: 70%;
}

p.small {
    font-size: 10px;
}

.alert-danger {
    /* color: #a94442; */
     background-color: #FFF !important; 
    border-color: #ebccd1;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 10px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

li.sidebar-brand {
    color: white;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 10px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

div#wrapper {
    margin-top: 50px;
}

.opt-box {
    box-shadow: 0 0 5px #ccc;
    margin: 20px 0px;
    border: 1px solid #CCC;
    padding: 20px;
    line-height: 30px;
}



/* Uploader: Drag & Drop */
.flow-error {display:none; font-size:14px; font-style:italic;}
.flow-drop {padding:15px; font-size:13px; text-align:center; color:#666; font-weight:bold;background-color:#eee; border:2px dashed #aaa; border-radius:10px;    height: 180px; z-index:9999; display:none;}
.flow-dragover {padding:30px; color:#555; background-color:#ddd; border:1px solid #999;}

/* Uploader: Progress bar */
.flow-progress {margin:30px 0 30px 0; width:100%; display:none;}
.progress-container {height:7px; background:#9CBD94; position:relative; }

.progress-bar {
    background: #0079ff;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#0096ff),to(#005dff));
    background: -webkit-linear-gradient(0% 0%,0% 100%,from(#0096ff),to(#005dff));
    background: -moz-linear-gradient(center top,#0096ff,#005dff);
    background: linear-gradient(#0096ff,#005dff);
    border-color: #0071e0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
}


.progress-text {font-size:11px; line-height:9px; padding-left:10px;}
.progress-pause {padding:0 0 0 7px;}
.progress-resume-link {display:none;}
.is-paused .progress-resume-link {display:inline;}
.is-paused .progress-pause-link {display:none;}
.is-complete .progress-pause {display:none;}

/* Uploader: List of items being uploaded */
.flow-list {overflow:auto; margin-right:-20px; display:none;}
.uploader-item {width:148px; height:90px; background-color:#666; position:relative; border:2px solid black; float:left; margin:0 6px 6px 0;}
.uploader-item-thumbnail {width:100%; height:100%; position:absolute; top:0; left:0;}
.uploader-item img.uploader-item-thumbnail {opacity:0;}
.uploader-item-creating-thumbnail {padding:0 5px; font-size:9px; color:white;}
.uploader-item-title {position:absolute; font-size:9px; line-height:11px; padding:3px 50px 3px 5px; bottom:0; left:0; right:0; color:white; background-color:rgba(0,0,0,0.6); min-height:27px;}
.uploader-item-status {position:absolute; bottom:3px; right:3px;}

/* Uploader: Hover & Active status */
.uploader-item:hover, .is-active .uploader-item {border-color:#4a873c; cursor:pointer; }
.uploader-item:hover .uploader-item-title, .is-active .uploader-item .uploader-item-title {background-color:rgba(74,135,60,0.8);}

/* Uploader: Error status */
.is-error .uploader-item:hover, .is-active.is-error .uploader-item {border-color:#900;}
.is-error .uploader-item:hover .uploader-item-title, .is-active.is-error .uploader-item .uploader-item-title {background-color:rgba(153,0,0,0.6);}
.is-error .uploader-item-creating-thumbnail {display:none;}