#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
.label {
    margin-left: 4px;
}

.price span {
    background: #efefef;
    padding: 10px 20px;
}

#timeshares .price{
    text-align: center;
}

/* view  Timeshare */

.timeshare-imgs img{
    
}

div#images {
    background: #efefef;
    overflow: hidden;
    padding: 10px;
    height:240px;
}

div#images span{
    width: 200px;
    height: 310px;
    overflow-y: hidden;
    float:left;
}


#timeshares .info {
    /* margin-top: -30px; */
    text-align: center;
    margin: 20px 0px 10px 0px;
    background-color: rgba(255,255,255,.8);
    /* border: 1px solid; */
}

img.images.img-thumbnail {
    min-height: 200px;
    margin-bottom: -30px;
}

.tab-pane.filter-search {
    padding: 20px;
}

.generic-search {
    padding: 5px 10px;
}


.pricing-opt {
    border: 1px solid #efefef;
    padding: 10px;
}

.text-centered{
    text-align: center;
}


.pricing {
    text-align: center;
    background: #efefef;
    padding: 20px;
    margin-bottom: 0px !important
}

#timeshares {
    margin-top: 20px;
}
.timeshare {
        margin-bottom: 60px;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

ul#home-main-tab li {
        padding: 6px;
    cursor: pointer;
}



ul#home-main-tab li.active a{

}

a.sell {
    background-color: red;
    color: #FFF;
    border-color: #ebccd1;
}

.note a{
    color: red
}

.note {
    padding: 10PX;
    border: 1px solid #CCC;
    margin: 10px;
}

a.find {
    background-color: #5cb85c;
    color: #FFF;
    
}




.nav-tabs  li  a{
    border-radius: 4px !important;
}


a {
    color: #383838;
    text-decoration: none;
}

.search-bg {
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
    border: 1px solid #CCC;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border-radius: 4px;

    width: 440px;
    margin: 0 auto;
    margin-top: 30px;
}

.main {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 42px !important;
}

small.tag {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 10px 0px;
}   

.tab-content.time-view {
    height: 320px;
    border: 1px solid #CCC;
    border-top: 0px solid #CCC !important;
    padding: 20px;
    margin-bottom: 100px;
}

div#body {
    padding: 0px 0px;
}

.purchase{
    border: 1px solid #efefef;
    box-shadow: 0 0 18px #ccc;
}

.main-sub {
        font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 32px !important;
    margin: 0px !important;
    color: #808080;
}

.jumbotron-view{
        background-image: url("../../images/background-hero-blur.jpg");
            min-height: 430px;
            
                margin-bottom: 0px !important;
}


.jumbotron-home{
        background-image: url("../../images/background-hero.jpg");
            min-height: 430px;
            
                margin-bottom: 0px !important;
}

.navbar-brand {
    padding: 0 !important;

}

/*.navbar-toggle {    background-color: #383838 !important;}*/


#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}


.navbar {
    position: relative;
    z-index: 3;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -1px;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}