<!-- The create article view -->
<section data-ng-controller="ArticlesController">
   <nav ng-include="'example/views/navbar.client.view.html'"></nav>
   <div id="wrapper" >
      <!-- Sidebar -->
      <section ng-include="'example/views/sidebar.client.view.html'"></section>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
         <div class="container-fluid">
          <form data-ng-submit="create()" novalidate>
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="main-titles">Create New Timeshare</h1>
                      <div class="tabs-wrap">
                         <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                               <a href="#discriptions" aria-controls="discriptions" role="tab" data-toggle="tab" aria-expanded="true">Discriptions</a>
                            </li>
                            <li>
                               <a href="#images" aria-controls="images" role="tab" data-toggle="tab" aria-expanded="false">Images</a>
                            </li>
                            <li>
                               <a href="#attractions" aria-controls="attractions" role="tab" data-toggle="tab" aria-expanded="false">Attractions & Nearby</a>
                            </li>
                            <li>
                               <a href="#pricing" aria-controls="pricing" role="tab" data-toggle="tab" aria-expanded="false">Pricing</a>
                            </li>
                         </ul>
                         <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="discriptions">
                              <div class="panel-area">
                               <h3 class="panel-title-2">Provide timeshare discriptions</h3>
                               <div class="row">
                                   <div class="col-md-4">
                                      <input class="form-control" type="text" data-ng-model="title" id="title" placeholder="Title" required>
                                   </div>
                                   <div class="col-md-4">
                                      <div>
                                        <select class="form-control" data-ng-model="category">
                                             <option value="" disabled selected>Choose Timeshare catergory</option>
                                             <option value="Top Attractions">Top Attractions</option>
                                             <option value="Adventures">Adventures</option>Top Attractions 
                                             <option value="Beaches">Beaches</option>
                                             <option value="Family Holidays">Family Holidays</option>
                                             <option value="Country Places">Country Places</option>
                                             <option value="Cultural Heritage">Cultural Heritage</option>
                                             <option value="Exciting Cities">Exciting Cities</option>
                                             <option value="Heritage Sites">Heritage Sites</option>
                                        </select>
                                      </div>
                                   </div>
                                   <div class="col-md-4">
                                      <select class="form-control" data-ng-model="province">
                                           <option value="" disabled selected>Select Timeshare Province</option>
                                           <option value="Eastern Cape">Eastern Cape</option>
                                           <option value="Free State">Free State</option>
                                           <option value="Gauteng">Gauteng</option>
                                           <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                                           <option value="Limpopo">Limpopo</option>
                                           <option value="North West">North West</option>
                                           <option value="Northern Cape">Northern Cape</option>
                                           <option value="Western cape">Western Cape</option>
                                      </select>
                                   </div>
                                   <div class="col-md-12 row-follow">
                                   <textarea class="form-control" data-ng-model="discription" id="content" cols="30" rows="10" placeholder="Provide of the timeshare discription"></textarea> </div>                      
                                </div>
                              </div>
                                <div class="form-group">
                                  <a class="btn btn-primary continue pull-right">Continue</a>
                                </div>
                            </div>


                            <!-- Images -->
                            <div role="tabpanel" class="tab-pane" id="images">
                              <div class="panel-area">
                              <h3 class="panel-title-2">Drag & drop images</h3>
                              <div class="row">
                                   <div class="col-md-12">
                                      <div id="frame">
                                          <div class="flow-error alert alert-warning">
                                             Your browser, unfortunately, is not supported by Flow.js. The library requires support for <a href="http://www.w3.org/TR/FileAPI/">the HTML5 File API</a> along with <a href="http://www.w3.org/TR/FileAPI/#normalization-of-params">file slicing</a>.
                                          </div>

                                          <div class="flow-drop form-control" ondragenter="jQuery(this).addClass('flow-dragover');" ondragend="jQuery(this).removeClass('flow-dragover');" ondrop="jQuery(this).removeClass('flow-dragover');">
                                             Drop files here to upload or <a class="flow-browse-folder"><u>select folder</u></a> or <a class="flow-browse"><u>select from your computer</u></a> or <a class="flow-browse-image"><u>select images</u></a>
                                          </div>

                                          <div class="flow-progress">
                                             <table>
                                                <tr>
                                                   <td width="100%">
                                                      <div class="progress-container">
                                                         <div class="progress-bar"></div>
                                                      </div>
                                                   </td>
                                                   <td class="progress-text" nowrap="nowrap"></td>
                                                   <td class="progress-pause" nowrap="nowrap">
                                                      <a href="#" onclick="r.upload(); return(false);" class="progress-resume-link"><img src="resume.png" title="Resume upload" /></a>
                                                      <a href="#" onclick="r.pause(); return(false);" class="progress-pause-link"><img src="pause.png" title="Pause upload" /></a>
                                                      <a href="#" onclick="r.cancel(); return(false);" class="progress-cancel-link"><img src="cancel.png" title="Cancel upload" /></a>
                                                   </td>
                                                </tr>
                                             </table>
                                          </div>


                                          <ul class="flow-list"></ul>


                                         <div class="row-follow">
                                            <input class="form-control" type="text" ng-list="," data-ng-model="images"  id="uploaded-img" placeholder="Image(s) URI provided">
                                         </div>
                                      </div>

                                   </div>
                              </div>
                              </div>
                               <div class="form-group">
                                  <a class="btn btn-primary continue pull-right">Continue</a>
                                </div>
                            </div>

                            <!-- Attractions & nearby -->
                            <div role="tabpanel" class="tab-pane" id="attractions">
                              <div class="panel-area">
                              <h3 class="panel-title-2">Attractions & Nearby</h3>
                              <div class="row">
                                   <div class="col-md-6">
                                    <label for="title">Attractions</label>
                                        <div>
                                          <select multiple="multiple" id="my-attractions" name="my-attractions[]" data-ng-model="attractions">
                                            <option value='Golf'>Golf</option>
                                            <option value='Gym'>Gym</option>
                                            <option value='Horse riding'>Horse riding</option>
                                            <option value='Restaurants'>Restaurants</option>
                                            <option value='Sail/Boating'>Sail/Boating</option>
                                            <option value='Tennis court'>Tennis court</option>
                                            <option value='Swimming pool'>Swimming pool</option>
                                            <option value='Fishing'>Fishing</option>
                                            <option value='​Beach'>​Beach</option>
                                          </select>
                                       </div>
                                   </div>
                              

                              
                                  <div class="col-md-6">
                                    <label for="title">Nearby</label>
                                      <div>
                                        <textarea class="form-control" ng-list="," data-ng-model="nearby" id="content" cols="30" rows="10" placeholder="Nearby places"></textarea>
                                      </div>
                                  </div>

                              </div>
                            </div>
                            
                              <div class="form-group">
                                  <a class="btn btn-primary continue pull-right">Continue</a>
                              </div>
                         </div>

                          <!-- pricing -->
                            <div role="tabpanel" class="tab-pane" id="pricing">
                              <div class="panel-area">
                                <h3 class="panel-title-2">Pricing</h3>
                                <div class="row">
                                   <div class="col-md-4">
                                      <select class="form-control" data-ng-model="purchase">
                                           <option value="" disabled selected>Type of timeshare purchase</option>
                                           <option value="Rental">Rental</option>
                                           <option value="Buy">Buy</option>
                                      </select>
                                   </div>
                                   <div class="col-md-4">
                                      <input class="form-control" type="text" data-ng-model="price" id="title" placeholder="Price" required>
                                   </div>
                                   <div class="col-md-4">
                                      <select class="form-control" data-ng-model="bedrooms">
                                           <option  value="" disabled selected>Bedrooms</option>
                                           <option value="1">1 Bedroom</option>
                                           <option value="2">2 Bedroom</option>
                                           <option value="3">3 Bedroom</option>
                                           <option value="4">4 Bedroom</option>
                                           <option value="5">5 Bedroom</option>  
                                           <option value="6">more than 5</option>        
                                      </select>
                                   </div>
                                   <div class="col-md-12 row-follow">
                                      <label class="col-md-2" for="from">Stay date from</label>
                                        <div class="col-md-4">
                                          <input placeholder="From" class="col-md-4 form-control" data-ng-model="datemin" type="text" id="from" name="from">
                                        </div>

                                      <label class="col-md-2" for="to">Till date to</label>
                                        <div class="col-md-4">
                                          <input placeholder="To" class="form-control" data-ng-model="datemax" type="text" id="to" name="to">
                                        </div>
                                   </div>
                                </div>

                                <div class="form-group">
                                    <div class="alert alert-danger">
                                      <strong>Office Use</strong>

                                      <div class="row">
                                         <div class="form-group row-follow">
                                          <div data-ng-show="error">
                                             <strong data-ng-bind="error"></strong>
                                          </div>  

                                          <div class="col-md-4">
                                            <select class="form-control" data-ng-model="availability">
                                              <option  value="" disabled selected>Select purchase status</option>
                                               <option value="Availabile">Availabile</option>
                                               <option value="Ordered">Ordered</option>      
                                            </select>
                                          </div>
                                          <div class="col-md-4">
                                              <select class="form-control" data-ng-model="verify">
                                                <option  value="" disabled selected>Verification</option>
                                                   <option value="Verified">Verified</option>
                                                   <option value="Pendinding">Pendinding</option>
                                              </select>
                                          </div>

                                          <div class="col-md-4">
                                              <input class="btn btn-danger pull-right" type="submit">
                                          </div>


                                         </div>
                                      </div>

                                      
                                    </div>
                                </div>

                                  
                              </div>
                            </div>

                      </div>
                      <div id="push"></div>


                      <div class="form-group togglemenu">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                      </div>
               </div>
            </div>
          </form>
         </div>
      </div>
      <!-- /#page-content-wrapper -->
      <!-- /#wrapper -->
      <!-- Menu Toggle Script -->
      <script>
         var url = "./script/create-article.js";
         $.getScript(url);
         
         $('.continue').click(function(e){
           e.preventDefault();
             $('.nav-tabs > .active').next('li').find('a').trigger('click');
         });
         $('.back').click(function(e){
           e.preventDefault();
             $('.nav-tabs > .active').prev('li').find('a').trigger('click');
         });
         
         $("#menu-toggle").click(function(e) {
           e.preventDefault();
             $("#wrapper").toggleClass("toggled");
         });
      </script>
   </div>
</section>