<!-- The article view -->
<section data-ng-controller="ArticlesController" data-ng-init="findOne()">

   <nav ng-include="'example/views/navbar.client.view.html'"></nav>

   <div id="wrapper" >
      <!-- Sidebar -->
      <section ng-include="'example/views/sidebar.client.view.html'">
      </section>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="main-titles">Timeshare Saved!!!</h1>

                        <ul class="nav nav-tabs" id="myTab">
                                <li class="active">
                                    <a data-target="#overview" data-toggle="tab"><strong data-ng-bind="article.title"></strong></a>
                                </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="overview">
                                   <div data-ng-show="authentication.user._id == article.creator._id">
                            <a href="/#!/articles/{{article._id}}/edit">edit</a>
                            <a href="#" data-ng-click="delete();">delete</a>
                        </div>
                        <small>
                            <em>Posted on</em>
                            <em data-ng-bind="article.created | date:'mediumDate'"></em>
                            <em>by</em>
                            <em data-ng-bind="article.creator.fullName"></em>
                        </small>
                        <p data-ng-bind="article.content"></p>
                                </div>

                           
                        </div>


                    
                        <!-- Show the editing buttons to the article creator -->
                        
                        
                        <hr/>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
         $("#menu-toggle").click(function(e) {
           e.preventDefault();
             $("#wrapper").toggleClass("toggled");
         });
      </script>
    
</section>